* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  justify-items: center;
  gap: 10px;
}
.grid-container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 2px;
  margin: 0 50px;
  justify-items: center;
}

.grid-box {
  height: 70px;
  list-style-type: none;
  background-color: tomato;
  padding: 2px;
  width: 100%;
  text-align: center;
  align-content: center;
  border-radius: 5px;
}

.btn {
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
  background-color: rgb(137, 137, 223);
  border: none;
  box-shadow: 0 0 2px 5px rgb(137, 137, 223);
  color: azure;
}
